<br/>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Authors and Publications</h1>
    <p class="lead">This is authors and publications sample application</p>
    <hr class="my-4">
    
    <a class="btn btn-primary btn-lg" href="<%= author_index_path %>" role="button">Authors</a>
    <a class="btn btn-primary btn-lg" href="<%= publications_index_path %>" role="button">Publication</a>
  </div>
</div>